$xl-screen: 1920px;
$lg-screen: 1024px;
$md-screen: 768px;
$sm-screen: 425px;

$placeholder-color: #ffffffb0;
$text-primary-color: #fff;
$background-color: #232033;
$main-font-family: 'Arial', sans-serif;
